@media (max-width:991px) {
  .container-main{
    width: 90%;
    margin: auto;
  }
  p, button, a, input, span, li {
    font-size: 13px !important;
  }
  h1 {
    font-size: 1.5rem !important;
  }
  h2 {
    font-size: 1.3rem !important;
  }
  h3 {
    font-size: 1rem !important;
  }
  h4 {
    font-size: 0.8rem !important;
  }
  h5 {
    font-size: 0.7rem !important;
  }
	/* home page - main section */
	.home-main-section .inner-div-button{
		border: 1px solid #7f441c;
		background: #F0F0F0;
		border-radius: 9px !important;
	}
	.inner-div-button .main-button-home{
		width: 100% !important;
	}
	.home-main-banner .home-banner-img{
		border-radius: 20px !important;
		width: 100%;
	}
	.inner-div-sub-button{
		border: 1px solid #7f441c;
		border-radius: 15px !important;
	}
	.inner-div-sub-button .category-btn-home{
		padding: 3px 15px !important;
		width: 100% !important;
	}
	.inner-col-product{
		background: #E0FFF5;
		border-radius: 50%;
		padding: 10px;
	}
	/* .inner-col-product .product-image-home{
		width: 100px;
	} */
	.home-product-name{
		margin-top: 8px !important;
	}
	.trending-heading{
		font-weight: 600;
	}
	.category-product{
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
		border-radius: 14px;
		padding: 10px;
	}
	.category-product .product-rate{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.product-rate .product-rate-text{
		color: #D10000;
	}
	.product-rate .descount-product{
		color: #969696;
		font-size: 12px !important;
		text-decoration: line-through;
	}
	.inner-col-vedios img{
		border-radius: 10px;
	}
	.swiper-slide{
		margin-right: 10px !important;
		margin-left: 20px !important;
	}
	.swiper-slide img{
		border-radius: 12px;
		height: 100%;
	}
	.category-product a{
		color: #000 !important;
		text-decoration: none !important;
	}
	/* modal form bottom  */
	.modal-bottom .modal-dialog {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		max-width: 100% !important;
		margin: 0;
	}
	.modal-bottom .modal-dialog .modal-content {
		border-radius: 0.3rem 0.3rem 0 0;
	}
	.modal-p-bottom .modal-dialog {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		max-width: 100% !important;
		margin: 0;
		transform: translateY(100%) !important;
	}
	.modal-p-bottom .modal-dialog .modal-content {
    border-radius: 1.3rem 1.3rem 0 0;
	}
	.modal-p-bottom.show {
		overflow: hidden;
	}
	.modal-p-bottom.show .modal-dialog {
		transform: translateY(0%) !important;
		/* min-height: 80px; */
	}
	.modal-right .modal-dialog {
		position: fixed;
		z-index: 1055;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0;
		max-width: 100%;
		width: 320px;
		left: auto !important;
		transform: translate3d(100%, 0, 0) !important;
		transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	}
	.modal-right .modal-content {
		height: 100vh;
		border-radius: 0.3rem 0 0 0.3rem;
	}
	.modal-right.show .modal-dialog {
		transform: translate3d(0, 0, 0) !important;
	}
	/* bottom modal end  */
	/* modal extra style  */
	.close-icon-modal{
		width: 20px !important;
		height: auto;
	}
	.modal-heading{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.modal-heading{
		font-weight: 600;
	}
	.product-lists .product-list-navigate{
		background: #F8F8F8;
		border-radius: 9px;
		width: 100%;
		border: 1px solid #7f441c;
		display: flex;
		justify-content: space-between;
	}
	.product-lists .product-list-navigate {
		color: #000 !important;
		text-decoration: none !important;
	}
	.product-lists .product-sublist{
		width: 50%;
	}
	.product-lists .product-sublist img{
		border-radius: 9px !important;
		width: 100%;
	}
	.modal-sub-two{
		padding-left: 10px !important;
	}
	.product-sublist .product-rate{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.category-product a{
		color: #000 !important;
	}
	.remove-btn{
		border: 1px solid #7f441c !important;
		padding: 0px 8px !important;
		display: table !important;
		margin-left: auto !important;
		color: #000 !important;
	}
	.inner-col-product-single{
		background: #F7F7F7;
		border-radius: 10px;
		padding: 10px;
	}
	.review-star{
		width: 15px !important;
	}
	.inner-col-product-single .product-rate{
		display: flex;
		align-items: center;
	}
	.inner-col-product-single .product-rate .descount-product{
		margin-left: 15px !important;
	}
	.product-offer-btns .product-offer-btn{
		border: 1px solid #D10000;
		border-radius: 4px;
		padding: 3px 11px;
		color: #D10000 !important;
		font-weight: 500;
		margin-right: 5px !important;
	}
	.coupon-btn{
		padding: 0px 9px !important;	
	}
	.product-name-coupn{
		display: flex;
		justify-content: space-between;
	}
	.color-heading-main-div{
		display: flex;
	}
	.color-heading-main-div .color-text{
		color: rgba(173, 173, 173, 1);
		font-weight: 400;
	}
	.slider-product-single{
		width: 100% !important;
	}
	.product-single-slider .swiper-slide{
		width: 130px !important;
		margin-left: 10px !important;
		background: #ffff !important;
		border-radius: 10px !important;
		border: 1px solid #D2D2D2;
		padding: 10px !important;
	}
	.read-more-text{
		color: #000 !important;
		display: table;
		margin-left: auto;
		font-weight: 500;
	}
	.learn-more-btn{
		border: 1px solid #7f441c !important;
		padding: 5px 15px !important;
		color: #000 !important;
		font-weight: 500 !important;
		display: table !important;
		margin-left: auto !important;
	}
	.fixed-btn-frame .main-button-product-single{
		width: 100% !important;
		border-radius: 10px !important;
		padding: 6px 0px !important;
	}
	/* dropdown style  */
	.faq {
		background: #F7F7F7;
		margin-bottom: 10px;
    padding: 12px 20px;
		position: relative;
		overflow: hidden;
		transition: 0.3s ease;
		border-radius: 10px;
	}
	.faq.active {
		background: #F7F7F7;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
	}
	.faq-title {
		font-weight: 600;
	}
	.faq-text {
		display: none;
		color: grey;
	}
	.faq.active .faq-text {
		display: block;
	}
	.faq-toggle {
		background-color: transparent;
		border: none;
		outline: none !important;
		border-radius: 10px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 16px;
		padding: 0;
		position: absolute;
		top: 8px;
		right: 20px;
		height: 30px;
		width: 45px;
		background: white;
	}
	.faq-toggle .fa-chevron-up {
		display: none;
	}
	.faq.active .faq-toggle .fa-chevron-up {
		color: #000;
		display: block;
	}
	.faq.active .faq-toggle .fa-chevron-down {
		display: none;
	}
	.faq.active .faq-toggle {
		background: white;
	}
	.product-sub-text{
		font-size: 12px !important;
	}
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}
	td, th {
		text-align: left;
		padding: 4px 5px 4px 0px;
		width: 50% !important;
	}
	/* address page style  */
	.add-new-address .form-control{
		border: 1px solid #E2E2E2 !important;
		border-radius: 8px!important;
	}
	.add-new-address .one-row-two-forms input{
		width: 96%;
		padding: 0.375rem 0.75rem;
		border-radius: 8px!important;
		border: 1px solid #E2E2E2 !important;
	}	
	.main-div-form{
		display: flex;
	}
	.save-btn{
		width: 150px !important;
		display: table !important;
		margin-left: auto;
		margin-right: auto;
		border-radius: 12px !important;
	}
	






}
@media (max-width:600px) {
  .container-main{
    width: 92%;
    margin: auto;
  }
	p, button, a, input, span, li, textarea {
		font-size: 12px !important;
	}
	h1 {
		font-size: 1.3rem !important;
	}
	h2 {
		font-size: 1.1rem !important;
	}
	h3 {
		font-size: 0.9rem !important;
	}
	h4 {
		font-size: 0.8rem !important;
	}
	h5 {
		font-size: 0.7rem !important;
	}
}
@media (max-width:450px) {
	.container-main{
		width: 92%;
		margin: auto;
	}
	p, button, a, input, span, li {
		font-size: 13px !important;
	}
	h1 {
		font-size: 1.2rem !important;
	}
	h2 {
		font-size: 0.9rem !important;
	}
	h3 {
		font-size: 0.8rem !important;
	}
	h4 {
		font-size: 0.7rem !important;
	}
	h5 {
		font-size: 0.6rem !important;
	}
	.inner-div-sub-button {
    border-radius: 11px !important;
	}
}
@media (max-width:390px){
	.remove-btn{
		font-size: 10px !important;
	}
}



